<style type="text/css">.btn-upload {
    position: relative;
    overflow: hidden;

}

.btn-upload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    -webkit-transform: translate(-300px, 0) scale(4);
    -ms-transform: translate(-300px, 0) scale(4);
    -o-transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;

}

* html .btn-upload {
    line-height: 24px;
    margin: 1px -3px 0 0;

}

* + html .btn-upload {
    padding: 2px 15px;
    margin: 1px 0 0 0;

}

.show-image div {
    visibility: hidden;
    position: absolute;
    background: #fff;
    box-shadow: -2px 2px 10px -1px #111;
    border-radius: 2px;
    z-index: 5;

}

.show-image a {
    color: black;

}

.show-image span {
    color: black;

}

.show-image:link div {
    color: inherit;

}

.show-image:visited {
    color: inherit;

}

.show-image:active div {
    color: inherit;

}

.show-image:hover div {
    color: inherit;
    visibility: visible;

}</style>

<div>

    <div class="row container-fluid">
        <div class="pull-left"><h2 data-translate="quizApp.question.home.title">Вопросы‹</h2></div>


        <div style="margin-top: 15px" class="pull-right">
            <button class="btn btn-primary" ui-sref="question.new">
                <span class="glyphicon glyphicon-plus"></span>
                <span>Новый вопрос</span>
            </button>
        </div>


        <div style="margin-top: 15px; margin-right: 15px" class="pull-right">
            <upload-button class="btn btn-primary btn-upload pull-right" url="/api/parser/upload" data="files"
                           param="files" multiple="true"><span class="glyphicon glyphicon-cloud-download"></span> Список
                вопросов
            </upload-button>
        </div>

    </div>
    <br>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control search-field" ng-model="vm.title"
                   placeholder="Поиск..." ng-change="vm.loadAllWithSearch()"/>
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-3">
            <select class="form-control" id="field_category" name="category" ng-model="vm.currentCat"
                    ng-options="category as category.name for category in vm.categories track by category.id"
                    ng-change="vm.loadAllWithSearch()">
                <option style="color:gray" value="">Все семьи</option>
            </select>
        </div>
        <div class="col-md-3">

            <select class="form-control" id="field_subcategory" name="subcategory" ng-change="vm.loadAllWithSearch()"
                    ng-model="vm.currentSubcat"
                    ng-options="subcategory as subcategory.name for subcategory in vm.subcategories | filter:{category : vm.currentCat} track by subcategory.id"
                    required>
                <option style="color:gray" value="">Все ветви</option>
            </select>
        </div>
            </div>
        </div>
    </div>
    <br>

    <div class="table-responsive">

        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th>
                    <div class="glyphicon glyphicon-picture"></div>
                </th>
                <th jh-sort-by="title"><span data-translate="quizApp.question.title">Вопрос</span>
                    <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="subcategory.name"><span data-translate="quizApp.question.category">Катеогогрия</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr style="width: 100%" ng-repeat="question in vm.questions track by question.id">
                <td style="min-width: 55px"><a ui-sref="question-detail({id:question.id})">{{question.id}}</a></td>
                <td><a ng-if="question.media.media" class="show-image"><span class="glyphicon glyphicon-picture"></span>
                    <div><img height="400" width="680" src="{{question.media.media}}"></div>
                </a></td>
                <td style="width: 60%">{{question.title}}</td>

                <td><a>{{question.subcategory.name}}</a></td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" ui-sref="question-detail({id:question.id})" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs hidden-sm"
                                                                                     data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit" ui-sref="question.edit({id:question.id})" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> <span class="hidden-xs hidden-sm"
                                                                                   data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit" ui-sref="question.delete({id:question.id})" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                        ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
